<%= render 'shared/navbar-2' %>

<div class="valentine-container desktop-valentine">
  <div class="valentine-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(https://i.ibb.co/6mR65s7/5000px-x-3000-px-Renders-00-05-V2.png); background-position: 50% 50%;">
    <h1 style="text-shadow: 0px 0px 5px #00000066;">AKT 5ml Tester tubes</h1>
  </div>
  <div class="valentine-body">
    <div class="valentine-text">
      <p><b>AKT 5ml Tester tubes</b></p>
      <br>
      <p><b>1 – What was the aim of this project?</b> AKT London wanted to create a mini/sample size of their multi-award winning product, The Deodorant Balm. As a 100% plastic free company, we really didn't want to go down traditional routes using plastic sachets or tubes. The market for something plastic free is virtually nonexistent, which is why we recruited the skills and expertise of CPPC to help us with the project.</p>
      <br>
      <p><b>2 – What we the potential challenges / difficulties?</b> Alex at CPPC, was tasked the impossible: find us a cost effective, 100% plastic free piece of packaging to home our deodorant. The challenge was exaggerated by the fact our product doesn't flow, it's a firm paste like texture. </p>
      <br>
      <p><b>3 – What did CPPC do for you on this project?</b> Alex helped us source the perfect piece of packaging. A never before seen aluminium tube with a snap off nozzle. The nozzle turns around and creates an airtight plug. He helped us source, trial and negotiate. </p>
      <br>
      <p><b>4 – How has the product been received in the market?</b> The product has been an overwhelming success. Nearly 50% of all new customer purchase the mini, and 50% of those convert to buying a full size product on subscription. We couldn't be happier with the result. </p>
      <br>
      <p><b>5 – Would you recommend CPPC to other Start up Brands on their development journey?</b> Absolutly, The product has won additional awards for sustainability in the US. A triumph indeed!</p>
      <br>
      <a href="https://www.aktlondon.com/pages/natural-deodorant-that-works/?gad_source=1&gclid=EAIaIQobChMIrurftL3VhAMVuZhQBh1UPARcEAAYASAAEgLkLPD_BwE">Explore AKT</a>
    </div>
    <div class="valentine-carousel">



      <div id="valentine-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ibb.co/p10S4ZK/Copy-of-292-A0133.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/WPMLZtz/Copy-of-292-A0203.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/mFMXh0w/Copy-of-292-A0518.jpg" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item">
            <img src="https://i.ibb.co/ZLGKCyR/Copy-of-292-A0555.jpg" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item">
            <img src="https://i.ibb.co/jZQ4N5d/Copy-of-292-A0569.jpg" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item">
            <img src="https://i.ibb.co/r2FhfrZ/SC-05-04.jpg" class="d-block w-100" alt="...">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#valentine-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#valentine-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


    </div>
  </div>
  <div class="more-news">
    <h6>More News...</h6>
    <div class="more-news-list">
      <div class="more-news-card">
        <a href="<%= packaginginnovations_path %>">
          <img src="https://i.ibb.co/9GVTwgd/Blog-entry-1.jpg" alt="...">
          <p>PACKAGING INNOVATIONS 2023</p>
        </a>
      </div>
      <div class="more-news-card">
        <a href="<%= kariwala_path %>">
          <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" alt="...">
          <p>CPPC X KARIWALA</p>
        </a>
      </div>
      <div class="more-news-card">
        <a href="<%= christmasiscoming_path %>">
          <img src="https://i.ibb.co/prZ6DN7/Blog-entry-4.jpg" alt="...">
          <p>CHRISTMAS IS COMING</p>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="mobile-valentine-container mobile-valentine">
  <div class="mobile-valentine-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(https://i.ibb.co/RB6ZS45/5000px-x-3000-px-Renders-00-05.png);">
    <h1 style="text-shadow: 0px 0px 5px #00000066;">AKT 5ml Tester tubes</h1>
  </div>
  <div class="mobile-valentine-body">
    <div class="mobile-valentine-text">
      <%# <div class="mobile-quotation-horizontal quotation-top"> %>
        <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <%# </div> %>
        <p><b>Here’s the second instalment in our Insight series. <br> AKT 5ml Tester tubes</b></p>
        <br>
        <p><b>1 – What was the aim of this project?</b> AKT London wanted to create a mini/sample size of their multi-award winning product, The Deodorant Balm. As a 100% plastic free company, we really didn't want to go down traditional routes using plastic sachets or tubes. The market for something plastic free is virtually nonexistent, which is why we recruited the skills and expertise of CPPC to help us with the project.</p>
        <br>
        <p><b>2 – What we the potential challenges / difficulties?</b> Alex at CPPC, was tasked the impossible: find us a cost effective, 100% plastic free piece of packaging to home our deodorant. The challenge was exaggerated by the fact our product doesn't flow, it's a firm paste like texture. </p>
        <%# <div class="mobile-quotation-horizontal quotation-bottom"> %>
        <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
      <%# </div> %>
    </div>





    <div class="mobile-valentine-carousel">
      <div id="mobile-valentine-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ibb.co/p10S4ZK/Copy-of-292-A0133.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/WPMLZtz/Copy-of-292-A0203.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/mFMXh0w/Copy-of-292-A0518.jpg" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item">
            <img src="https://i.ibb.co/ZLGKCyR/Copy-of-292-A0555.jpg" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item">
            <img src="https://i.ibb.co/jZQ4N5d/Copy-of-292-A0569.jpg" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item">
            <img src="https://i.ibb.co/r2FhfrZ/SC-05-04.jpg" class="d-block w-100" alt="...">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mobile-valentine-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mobile-valentine-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="mobile-valentine-text">
      <%# <div class="mobile-quotation-horizontal quotation-top"> %>
        <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <%# </div> %>
      <p><b>3 – What did CPPC do for you on this project?</b> Alex helped us source the perfect piece of packaging. A never before seen aluminium tube with a snap off nozzle. The nozzle turns around and creates an airtight plug. He helped us source, trial and negotiate. </p>
      <br>
      <p><b>4 – How has the product been received in the market?</b> The product has been an overwhelming success. Nearly 50% of all new customer purchase the mini, and 50% of those convert to buying a full size product on subscription. We couldn't be happier with the result. </p>
      <br>
      <p><b>5 – Would you recommend CPPC to other Start up Brands on their development journey?</b> Absolutly, The product has won additional awards for sustainability in the US. A triumph indeed!</p>
      <br>
      <a href="https://www.aktlondon.com/pages/natural-deodorant-that-works/?gad_source=1&gclid=EAIaIQobChMIrurftL3VhAMVuZhQBh1UPARcEAAYASAAEgLkLPD_BwE">Explore AKT</a>
      <%# <div class="mobile-quotation-horizontal quotation-bottom"> %>
        <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
      <%# </div> %>
    </div>

  </div>

  <div class="mobile-more-news">
    <h6>More News...</h6>
    <div class="mobile-more-news-list">
      <div class="mobile-more-news-card">
        <a href="<%= packaginginnovations_path %>">
          <img src="https://i.ibb.co/9GVTwgd/Blog-entry-1.jpg" alt="...">
          <p>PACKAGING INNOVATIONS 2023</p>
        </a>
      </div>
      <div class="mobile-more-news-card">
        <a href="<%= kariwala_path %>">
          <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" alt="...">
          <p>CPPC X KARIWALA</p>
        </a>
      </div>
      <div class="mobile-more-news-card">
        <a href="<%= christmasiscoming_path %>">
          <img src="https://i.ibb.co/prZ6DN7/Blog-entry-4.jpg" alt="...">
          <p>CHRISTMAS IS COMING</p>
        </a>
      </div>
    </div>
  </div>
</div>
