


<div class="navbar-outer">

  <div class="navbar-inner">
    <%# <div class="name-title">
      <h2>NAVBAR</h2>
    </div> %>
 <%# style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/qyFsg3c/CPPC-AKT-2.jpg);" %>
    <div class="navbarr" >
      <input type="checkbox" class="menu-btn" id="menu-btn" />
      <%# <div class="tabsnbtn"> %>
      <ul class="tabs" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/qyFsg3c/CPPC-AKT-2.jpg);">



        <%# <% class="nav-link"><%= link_to "HOME", root_path %>
        <li class="nav-link"><%= link_to "Case Studies", root_path %></li>
        <li class="nav-link"><%= link_to "Sustainability", root_path %></li>
        <li class="nav-link"><%= link_to "News", root_path %></li>
        <li class="nav-link"><%= link_to "Our History", root_path %></li>
        <li class="nav-link"><%= link_to "Contact", root_path %></li>




        <%# <li><%= link_to "BOOK", book_path</li>  %>
        <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> %>


        <%# LOGIN GOES HERE %>



      </ul>
      <label for="menu-btn" class="menu-icon">
      <%# <span class="nav-icon"></span> %>
        <%# <img src="https://i.ibb.co/8mKWcCj/CPPC-MENU-ICON-HOMEPAGE-copy.png", class="nav-icon"> %>
        <div class="nav-icon">
<%# style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/8mKWcCj/CPPC-MENU-ICON-HOMEPAGE-copy.png);" %>
        </div>
      </label>
      <%# </div> %>

    </div>
  </div>

</div>





<%# <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> %>
    <%# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script> %>

    <%# <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script> %>
    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>


<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/FYyT2JC/CPPC-AKT-3.jpg);">
    <img src="https://i.ibb.co/48n96BD/LOGO-SYMBOL-WHITE-TRANSPARENT.png", class="home-logo">
    <div class="home-title-container">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
    </div>
  </div>
