<%= render 'shared/navbar-2' %>

<div class="valentine-container desktop-valentine">
  <div class="valentine-banner oto-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(https://i.ibb.co/sRj4Yhb/CPPC-MACHINA-2.jpg);">
    <h1>Global Recycling Day</h1>
  </div>
  <div class="valentine-body blog-column">
    <div class="valentine-text valentine-text-column">
      <p>'Global Recycling Day", celebrated on March 18 every year, is a recycling initiative that encourages us to look at our trash in a new light. And unless you are part of a (growing) zero-waste community, that means you. And me...
      <br>It’s an important date for the packaging industry and also, a brilliant focus for the world to come together and put the planet first. Recycling is an integral part of the climate change cycle and helps in promoting and protecting global sustainability.</p>
      <br>
      <p>These are the facts:</p>
      <br>
      <p>Recycling is projected to save over a billion tonnes of CO2 emissions by 2030 and has been acknowledged as the Seventh Resource upon which humanity depends for the supply of raw materials.</p>
      <p>The importance recycling plays in preserving our precious primary resources and securing the future of our planet cannot be underestimated.</p>
      <p>At CPPC, researching soft plastic recycling has been a focus of our work this year. After lengthy discussion with experts in this field we feel Mono-Material products that are L4 Soft Plastic Recyclable, are a much more sustainable solution for packaging certain products
      than other options available in the field that claim to be biodegradable or compostable, because this chain leaves no waste. We have been championing it as a solution for some of our clients and we are thrilled to announce that we’ve migrated our friends at Machina, and their brilliant coffee blends, across to new sustainable Mono-Material bio polymer LDPE coffee bags in this innovative new recyclable material.</p>
      <p>Machina are one of the first brands to use this type of recyclable material in the UK for their coffee bags, and we couldn’t be prouder of working on this transition with them.</p>
      <br>
      <p>The reason it’s a big deal is this:</p>
      <br>
      <p>Recyclable bio-based carbon negative laminate can be recycled in #4 / soft plastic / LDPE (low-density polyethylene) recycling streams. In simple terms that means that the bags Machina now distribute their coffee in, can be recycled with soft plastics using the facilities available to you either locally, be that kerbside (depending on your local authority), or at supermarkets.</p>
      <p>Where previously Machina’s packaging for their coffee was made of mixed material with low-density polyethylene, it has now become a whole lot easier to recycle. And there is no detriment to the freshness of their coffee, it keeps the quality of Machina’s blends tip
      top. AND the bags are carbon negative! And really close to our hearts at CPPC is the fact that these bags are also ocean waste friendly. Why does this matter?</p>
      <p>The majority of plastic waste in our oceans comes from a handful of river systems in developing countries. The bag manufacturers that we have sourced for Machina support both collection and recycling depots in Indonesia and the Philippines. In turn this means that every item of packaging they produce, the equivalent amount of plastic waste is removed from the ocean which to our minds is bloody brilliant. If you’re interested in discussing sustainable new ways to package your products, we are here to help. We are always ahead of the game - as packaging producers we are really mindful of our responsibility to the environment and are always seeking solutions to pollution.</p>
    </div>

    <div class="valentine-carousel valentine-carousel-column">
      <div id="valentine-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ibb.co/sRj4Yhb/CPPC-MACHINA-2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/4NGDwKJ/CPPC-MACHINA-3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/z5wyTn5/CPPC-MACHINA-4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/N9fy3Bd/CPPC-MACHINA-5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/2dqZrbq/CPPC-MACHINA-1.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#valentine-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#valentine-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </div>
  <div class="more-news">
    <h6>More News...</h6>
    <div class="more-news-list">
      <div class="more-news-card">
        <a href="<%= packaginginnovations_path %>">
          <img src="https://i.ibb.co/9GVTwgd/Blog-entry-1.jpg" alt="...">
          <p>PACKAGING INNOVATIONS 2023</p>
        </a>
      </div>
      <div class="more-news-card">
        <a href="<%= kariwala_path %>">
          <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" alt="...">
          <p>CPPC X KARIWALA</p>
        </a>
      </div>
      <div class="more-news-card">
        <a href="<%= fiveyearsofcppc_path %>">
          <img src="https://i.ibb.co/x3zJ53C/3.png" alt="...">
          <p>FIVE YEARS OF CPPC</p>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="mobile-valentine-container mobile-valentine">
  <div class="mobile-valentine-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(https://i.ibb.co/2dqZrbq/CPPC-MACHINA-1.jpg);">
    <h1>Global Recycling Day</h1>
  </div>
  <div class="mobile-valentine-body">
    <div class="mobile-valentine-text">
        <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <p>'Global Recycling Day", celebrated on March 18 every year, is a recycling initiative that encourages us to look at our trash in a new light. And unless you are part of a (growing) zero-waste community, that means you. And me...
      <br>It’s an important date for the packaging industry and also, a brilliant focus for the world to come together and put the planet first. Recycling is an integral part of the climate change cycle and helps in promoting and protecting global sustainability.</p>
        <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
    </div>

    <div class="mobile-valentine-text">
        <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <p>These are the facts:</p>
      <br>
      <p>Recycling is projected to save over a billion tonnes of CO2 emissions by 2030 and has been acknowledged as the Seventh Resource upon which humanity depends for the supply of raw materials.</p>
      <p>The importance recycling plays in preserving our precious primary resources and securing the future of our planet cannot be underestimated.</p>
      <p>At CPPC, researching soft plastic recycling has been a focus of our work this year. After lengthy discussion with experts in this field we feel Mono-Material products that are L4 Soft Plastic Recyclable, are a much more sustainable solution for packaging certain products
      than other options available in the field that claim to be biodegradable or compostable, because this chain leaves no waste. We have been championing it as a solution for some of our clients and we are thrilled to announce that we’ve migrated our friends at Machina, and their brilliant coffee blends, across to new sustainable Mono-Material bio polymer LDPE coffee bags in this innovative new recyclable material.</p>
      <p>Machina are one of the first brands to use this type of recyclable material in the UK for their coffee bags, and we couldn’t be prouder of working on this transition with them.</p>
      <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
    </div>

    <div class="mobile-valentine-carousel">
      <div id="mobile-valentine-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ibb.co/sRj4Yhb/CPPC-MACHINA-2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/4NGDwKJ/CPPC-MACHINA-3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/z5wyTn5/CPPC-MACHINA-4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/N9fy3Bd/CPPC-MACHINA-5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/2dqZrbq/CPPC-MACHINA-1.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mobile-valentine-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mobile-valentine-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>




    <div class="mobile-valentine-text">
        <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <p>The reason it’s a big deal is this:</p>
      <br>
      <p>Recyclable bio-based carbon negative laminate can be recycled in #4 / soft plastic / LDPE (low-density polyethylene) recycling streams. In simple terms that means that the bags Machina now distribute their coffee in, can be recycled with soft plastics using the facilities available to you either locally, be that kerbside (depending on your local authority), or at supermarkets.</p>
      <p>Where previously Machina’s packaging for their coffee was made of mixed material with low-density polyethylene, it has now become a whole lot easier to recycle. And there is no detriment to the freshness of their coffee, it keeps the quality of Machina’s blends tip
      top. AND the bags are carbon negative! And really close to our hearts at CPPC is the fact that these bags are also ocean waste friendly. Why does this matter?</p>
      <p>The majority of plastic waste in our oceans comes from a handful of river systems in developing countries. The bag manufacturers that we have sourced for Machina support both collection and recycling depots in Indonesia and the Philippines. In turn this means that every item of packaging they produce, the equivalent amount of plastic waste is removed from the ocean which to our minds is bloody brilliant. If you’re interested in discussing sustainable new ways to package your products, we are here to help. We are always ahead of the game - as packaging producers we are really mindful of our responsibility to the environment and are always seeking solutions to pollution.</p>
        <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
    </div>

  </div>

  <div class="mobile-more-news">
    <h6>More News...</h6>
    <div class="mobile-more-news-list">
      <div class="mobile-more-news-card">
        <a href="<%= packaginginnovations_path %>">
          <img src="https://i.ibb.co/9GVTwgd/Blog-entry-1.jpg" alt="...">
          <p>PACKAGING INNOVATIONS 2023</p>
        </a>
      </div>
      <div class="mobile-more-news-card">
        <a href="<%= kariwala_path %>">
          <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" alt="...">
          <p>CPPC X KARIWALA</p>
        </a>
      </div>
      <div class="mobile-more-news-card">
        <a href="<%= fiveyearsofcppc_path %>">
          <img src="https://i.ibb.co/x3zJ53C/3.png" alt="...">
          <p>FIVE YEARS OF CPPC</p>
        </a>
      </div>
    </div>
  </div>
</div>
