<%= render 'shared/navbar' %>

<div class="home-container mandatory-scroll-snapping">

  <div class="home-banner scroll-page">
    <div id="carouselExampleAutoplaying" class="carousel slide home-carousel carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active home-slide" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/F4QgBgS/CPPC-HOMEPAGE-PIC-1.jpg);">
          <div class="home-title-container position-absolute top-50 start-50 translate-middle">
            <img src="https://i.ibb.co/48n96BD/LOGO-SYMBOL-WHITE-TRANSPARENT.png", class="home-logo">
            <h3>Your packaging and procurement experts</h3>
            <%# <img src="https://i.ibb.co/59kjPCb/CPPC-ARROW-2.png", class="down-arrow"> %>
          </div>
        </div>
        <div class="carousel-item home-slide" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/Y2TXsp9/CPPC-HOMEPAGE-PIC-2.jpg);">
          <div class="home-title-container position-absolute top-50 start-50 translate-middle">
            <img src="https://i.ibb.co/48n96BD/LOGO-SYMBOL-WHITE-TRANSPARENT.png", class="home-logo">
            <h3>Your packaging and procurement experts</h3>
          </div>
        </div>
        <div class="carousel-item home-slide" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/5X3CFHc/CPPC-HOMEPAGE-PIC-3.jpg);">
          <div class="home-title-container position-absolute top-50 start-50 translate-middle">
            <img src="https://i.ibb.co/48n96BD/LOGO-SYMBOL-WHITE-TRANSPARENT.png", class="home-logo">
            <h3>Your packaging and procurement experts</h3>
          </div>
        </div>
        <div class="carousel-item home-slide" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/2h9rDYF/CPPC-HOMEPAGE-PIC-4.jpg);">
          <div class="home-title-container position-absolute top-50 start-50 translate-middle">
            <img src="https://i.ibb.co/48n96BD/LOGO-SYMBOL-WHITE-TRANSPARENT.png", class="home-logo">
            <h3>Your packaging and procurement experts</h3>
          </div>
        </div>
        <div class="carousel-item home-slide" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/m82P6cp/CPPC-HOMEPAGE-PIC-5.jpg);">
          <div class="home-title-container position-absolute top-50 start-50 translate-middle">
            <img src="https://i.ibb.co/48n96BD/LOGO-SYMBOL-WHITE-TRANSPARENT.png", class="home-logo">
            <h3>Your packaging and procurement experts</h3>
          </div>
        </div>
      </div>
      <%# <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> %>
    </div>
  </div>



  <div id="case-studies-section">
    <div class="case-studies-container scroll-page desktop-version" >
      <div class="section-title">
        <h1>Case Studies</h1>
      </div>

      <div id="caseStudiesCarousel" class="carousel slide carousel-fade">
        <div class="carousel-inner case-studies-carousel-inner">
          <div class="carousel-item case-studies-carousel-item active">
            <div class="case-studies-list">

              <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297792/CPPC_WILD_1_25_lya2vq.jpg);">
                <div class="case-study-filter">
                  <h2><%= link_to "Wild", wild_path %></h2>
                </div>

              </div>

              <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297432/CPPC_ROAM_5_efs8zm.jpg);">
                <div class="case-study-filter">
                  <h2><%= link_to "Roam", roam_path %></h2>
                </div>

              </div>

              <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297429/CPPC_NEAT_1_w2wueg.jpg);">
                <div class="case-study-filter">
                  <h2><%= link_to "Neat", neat_path %></h2>
                </div>

              </div>

              <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/sPp46kJ/CPPC-OTO-1.jpg);">
                <div class="case-study-filter">
                  <h2><%= link_to "Oto", oto_path %></h2>
                </div>
              </div>

              <%# <div class="case-study" style="background-color: white;">
                <img src="https://i.ibb.co/DQQh11R/CPPC-MENU-ICON-CLIENT-PAGE-2-copy.png", class="case-icon">
              </div> %>

              <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297425/CPPC_NAMSU_1_cv8k1n.jpg);">
                <div class="case-study-filter">
                  <h2><%= link_to "Namsu", namsu_path %></h2>
                </div>
              </div>

              <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297428/CPPC_AKT_5_pv1agb.jpg);">
                <div class="case-study-filter">
                  <h2><%= link_to "AKT", akt_path %></h2>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item case-studies-carousel-item">
            <div class="case-studies-list">
              <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/sPp46kJ/CPPC-OTO-1.jpg);">
                <div class="case-study-filter">
                  <h2><%= link_to "Oto", oto_path %></h2>
                </div>
              </div>


              <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297425/CPPC_NAMSU_1_cv8k1n.jpg);">
                <div class="case-study-filter">
                  <h2><%= link_to "Namsu", namsu_path %></h2>
                </div>
              </div>

              <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297428/CPPC_AKT_5_pv1agb.jpg);">
                <div class="case-study-filter">
                  <h2><%= link_to "AKT", akt_path %></h2>
                </div>
              </div>



              <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/7bK5D8V/CPPC-fortnum-mason-1.jpg);">
                <div class="case-study-filter">
                  <h2><%= link_to "Fortnum and Mason", fortnumandmason_path %></h2>
                </div>

              </div>

              <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/0VgPBbg/CPPC-MACHINA-1.jpg);">
                <div class="case-study-filter">
                  <h2><%= link_to "Machina", machina_path %></h2>
                </div>
              </div>

              <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/PFNhmmB/CPPC-Tilly-Sveaas-5.jpg);">
                <div class="case-study-filter">
                  <h2><%= link_to "Tilly Sveaas", tillysveaas_path %></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#caseStudiesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#caseStudiesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>




    <div class="case-studies-container scroll-page mobile-version">
      <div class="section-title">
        <h1>Case Studies</h1>
      </div>

      <div id="mobileCaseStudiesCarousel" class="carousel slide carousel-fade">
        <div class="carousel-inner case-studies-carousel-inner">
          <div class="carousel-item case-studies-carousel-item active">
            <div class="mobile-case-studies-list">

              <div class="mobile-case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297792/CPPC_WILD_1_25_lya2vq.jpg);">
                <div class="mobile-case-study-filter">
                  <h2><%= link_to "Wild", wild_path %></h2>
                </div>

              </div>

              <div class="mobile-case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297432/CPPC_ROAM_5_efs8zm.jpg);">
                <div class="mobile-case-study-filter">
                  <h2><%= link_to "Roam", roam_path %></h2>
                </div>

              </div>

              <div class="mobile-case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297429/CPPC_NEAT_1_w2wueg.jpg);">
                <div class="mobile-case-study-filter">
                  <h2><%= link_to "Neat", neat_path %></h2>
                </div>

              </div>
            </div>
          </div>

          <div class="carousel-item case-studies-carousel-item">
            <div class="mobile-case-studies-list">

              <div class="mobile-case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/sPp46kJ/CPPC-OTO-1.jpg);">
                <div class="mobile-case-study-filter">
                  <h2><%= link_to "Oto", oto_path %></h2>
                </div>
              </div>

              <div class="mobile-case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297425/CPPC_NAMSU_1_cv8k1n.jpg);">
                <div class="mobile-case-study-filter">
                  <h2><%= link_to "Namsu", namsu_path %></h2>
                </div>
              </div>

              <div class="mobile-case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297428/CPPC_AKT_5_pv1agb.jpg);">
                <div class="mobile-case-study-filter">
                  <h2><%= link_to "AKT", akt_path %></h2>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item case-studies-carousel-item">
            <div class="mobile-case-studies-list">


              <div class="mobile-case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/7bK5D8V/CPPC-fortnum-mason-1.jpg);">
                <div class="mobile-case-study-filter">
                  <h2><%= link_to "Fortnum and Mason", fortnumandmason_path %></h2>
                </div>
              </div>

              <div class="mobile-case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/0VgPBbg/CPPC-MACHINA-1.jpg);">
                <div class="mobile-case-study-filter">
                  <h2><%= link_to "Machina", machina_path %></h2>
                </div>
              </div>

              <div class="mobile-case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/PFNhmmB/CPPC-Tilly-Sveaas-5.jpg);">
                <div class="mobile-case-study-filter">
                  <h2><%= link_to "Tilly Sveaas", tillysveaas_path %></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mobileCaseStudiesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mobileCaseStudiesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>

  <div id="our-story-section">
    <div class="our-story-container scroll-page desktop-story" id="desktop-our-story-section">
      <div class="section-title">
        <h1>Our Story</h1>
      </div>
      <div class="our-story-body">
        <div class="our-story-text-wrapper">
          <div class="our-story-text">

            <p>We are <b>CPPC</b> = Clarity Print & Packaging Consultancy Ltd
            <%# <br> %>
            and I’m founder and CEO Alex Higgs.</p>
            <br>
            <p>I started the company because my passion is turning innovative design into desirable creations, and I’ve now have been collaborating on packaging and procurement with outstanding brands for nearly 20 years. We have the very best production partners in the industry, which means we are able to quickly provide the best ideas and solutions to meet the needs of our diverse range of clients.
            <%# <br> %>
            We have expertise in concepting and creating both primary and secondary packaging in a wide range of materials. Where the brief permits we will always go for ground-breaking and pioneering. Sometimes that’s manufacturing a whole new product line from the ground up, like the aluminium cases for Wild, or sometimes that’s just thinking “out of the box”, like replacing all of Rococo chocolate’s vac formed trays with sustainable paper-based alternatives.
            <%# <br> %>
            As leading creators in packaging and an authority on sustainable packaging, we are as comfortable partnering with disruptor start-ups as we are with high street brands and and household names.
            <%# <br> %>
            The secret of our success is communication and alignment. And we don’t mind sharing that. It is vital that communication, the sign off process and input from each production partner are all aligned. That is how you achieve the best results and a seamless process.</p>
            <%# <br> %>
            <%# <p>Give us a shout, we’d love to hear from you to talk all things sustainable and packaging. Or dogs - at <b>CPPC</b> we have a couple of canine assistants who are very opinonated.</p> %>
            <br>
            <p>Hope to speak soon.</p>
            <br>
            <p><b>LEX</b></p>
          </div>
        </div>
        <div class="our-story-img-wrapper">
          <img src="https://i.ibb.co/yBMZkvw/CPPC-OUR-STORY-photo.jpg", class="our-story-photo">
        </div>
      </div>
    </div>



    <div class="our-story-container scroll-page mobile-story" id="mobile-our-story-section">
      <div class="our-story-title" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/yBMZkvw/CPPC-OUR-STORY-photo.jpg);">
        <h1>Our Story</h1>
      </div>
      <div class="mobile-our-story-body">
        <div class="mobile-our-story-text-wrapper">
          <div class="mobile-our-story-text">

            <p>We are <b>CPPC</b> = Clarity Print & Packaging Consultancy Ltd

            And I’m founder and CEO Alex Higgs.</p>

            <p>I started the company because my passion is turning innovative design into desirable creations, and I’ve now have been collaborating on packaging and procurement with outstanding brands for nearly 20 years. We have the very best production partners in the industry, which means we are able to quickly provide the best ideas and solutions to meet the needs of our diverse range of clients.</p>

            <p>We have expertise in concepting and creating both primary and secondary packaging in a wide range of materials. Where the brief permits we will always go for ground-breaking and pioneering. Sometimes that’s manufacturing a whole new product line from the ground up, like the aluminium cases for Wild, or sometimes that’s just thinking “out of the box”, like replacing all of Rococo chocolate’s vac formed trays with sustainable paper-based alternatives.</p>

            <p>As leading creators in packaging and an authority on sustainable packaging, we are as comfortable partnering with disruptor start-ups as we are with high street brands and and household names.</p>

            <p>The secret of our success is communication and alignment. And we don’t mind sharing that. It is vital that communication, the sign off process and input from each production partner are all aligned. That is how you achieve the best results and a seamless process.</p>

            <%# <p>Give us a shout, we’d love to hear from you to talk all things sustainable and packaging. Or dogs - at <b>CPPC</b> we have a couple of canine assistants who are very opinonated.</p> %>

            <p>Hope to speak soon.</p>

            <p><b>LEX</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sustainability-section">
    <div class="sustainability-container scroll-page desktop-sustainability" >
      <div class="sustainability-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/H2m1BCs/AKT-4-copy.jpg);">
        <img src="https://i.ibb.co/tJM5X3F/Approved-Partner-CMYK-Grey-Solid.png", class="sustainability-stamp">
      </div>
      <div class="sustainability-text">
        <%# <div class="sustainability-title"> %>
          <h1>Sustainability</h1>
        <%# </div> %>
        <%# <div class="sustainability-paragraph">
          <div class="quotation quotation-left">
            <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo">
          </div>
          <p><b>CPPC</b> cares deeply about how our operations impact people and the world we all share. We strive to produce high-quality products through ethical business practices and by evaluating the practices of the production companies we choose to partner with. We adopt new, environmentally friendly packaging innovations as soon as they are available and we are always looking for innovations to help our clients find sustainable solutions.These goals are at the core of who we are and the drivers behind all our decision making. And we hear first hand the difference they make to the people we work with. And that makes everything we do worthwhile.
          </p>
          <div class="quotation quotation-right">
            <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo">
          </div>
        </div> %>

        <div class="sustainability-paragraph">
          <%# <div class="quotation quotation-left"> %>
            <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo quote-img quote-left">
          <%# </div> %>
          <p><b>CPPC</b> cares deeply about how our operations impact people and the world we all share. We strive to produce high-quality products through ethical business practices and by evaluating the practices of the production companies we choose to partner with. We adopt new, environmentally friendly packaging innovations as soon as they are available and we are always looking for innovations to help our clients find sustainable solutions.These goals are at the core of who we are and the drivers behind all our decision making. And we hear first hand the difference they make to the people we work with. And that makes everything we do worthwhile.
          </p>
          <%# <div class="quotation quotation-right"> %>
            <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo quote-img quote-right">
          <%# </div> %>
        </div>
      </div>
    </div>

    <div class="mobile-sustainability-container scroll-page mobile-sustainability" id="mobile-sustainability-section">
      <div class="mobile-sustainability-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/H2m1BCs/AKT-4-copy.jpg);">
        <h1>Sustainability</h1>
      </div>
      <div class="mobile-sustainability-text">
        <img src="https://i.ibb.co/tJM5X3F/Approved-Partner-CMYK-Grey-Solid.png", class="mobile-sustainability-stamp">
        <div class="mobile-sustainability-paragraph">
          <%# <div class="mobile-quotation quotation-left"> %>
            <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
          <%# </div> %>
          <p><b>CPPC</b> cares deeply about how our operations impact people and the world we all share. We strive to produce high-quality products through ethical business practices and by evaluating the practices of the production companies we choose to partner with. We adopt new, environmentally friendly packaging innovations as soon as they are available and we are always looking for innovations to help our clients find sustainable solutions.These goals are at the core of who we are and the drivers behind all our decision making. And we hear first hand the difference they make to the people we work with. And that makes everything we do worthwhile.
          </p>
          <%# <div class="mobile-quotation quotation-right"> %>
            <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
          <%# </div> %>
        </div>
      </div>
    </div>
  </div>


  <div id="news-section">
    <div class="news-container scroll-page desktop-news" >
      <div class="section-title">
        <h1>News</h1>
      </div>
      <%# https://www.youtube.com/watch?v=kHPm_AlxP7U&t=46s %>
      <div id="carouselExample" class="carousel slide news-carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cards-wrapper news-cards-wrapper">
              <div class="card">
                <a href="<%= packaginginnovations_path %>">
                  <img src="https://i.ibb.co/9GVTwgd/Blog-entry-1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6>PACKAGING INNOVATIONS 2023</h6>
                    <p class="card-text">
                      Just recovering from a whirlwind trip up to The NEC in Birmingham last week, to the annual Packaging Innovations Exhibition, where I hooked up with all the major players in the biz and listened to expert speakers share their thoughts on the future of our industry.
                    </p>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="<%= happyvalentinesday_path %>">
                  <img src="https://i.ibb.co/C6Q4qmL/Blog-entry-2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6>HAPPY VALENTINE’S DAY!</h6>
                    <p class="card-text">
                      Our current crush is Roam and their cheeky Valentine’s range. The All Night Long Kit is a personal fave and there’s also The Couple’s Kit, The Cupid Kit and The Roamance Kit. Behind the quirky names the brand has a serious sentiment, and that is to challenge stigmas around sex providing a range that supports what feels natural.
                    </p>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="<%= kariwala_path %>">
                  <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6>CPPC X KARIWALA</h6>
                    <p class="card-text">
                      Happy Sustainable and Successful New Year. Success at CPPC towers doesn't just mean working with brilliant clients, getting exciting briefs and discovering innovative and sustainable packaging solutions. Success also means the positive impact we have along the way by creating work for people as we source our materials and products from around the globe.
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="cards-wrapper news-cards-wrapper">
              <div class="card">
                <a href="<%= roamarticle_path %>">
                  <img src="https://i.ibb.co/88h8r7N/Untitled-design-11.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6>ROAM</h6>
                    <p class="card-text">
                      CPPC has been working with Roam since the end of 2020 when their aspiration to bring a new approach to sexual health and wellness made them stand out even then. Now Roam has really delivered with a #worldfirst bringing Skin Tone Condoms to market.
                    </p>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="<%= globalrecyclingday_path %>">
                  <img src="https://i.ibb.co/z8MWkgk/4.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6>GLOBAL RECYCLING DAY</h6>
                    <p class="card-text">
                      'Global Recycling Day", celebrated on March 18 every year, is a recycling initiative that encourages us to look at our trash in a new light. And unless you are part of a (growing) zero-waste community, that means you. And me...
                    </p>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="<%= fiveyearsofcppc_path %>">
                  <img src="https://i.ibb.co/x3zJ53C/3.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6>FIVE YEARS OF CPPC</h6>
                    <p class="card-text">
                      The ups and downs, the highs and lows, from Mince pies to Lube - CPPC has had the pleasure of working with some of the most disruptive brands in the market right now and it’s already been 5 years.
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="cards-wrapper news-cards-wrapper">
              <div class="card">
                <a href="<%= wildarticle_path %>">
                  <img src="https://i.ibb.co/bKyP0Zr/1.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6>WILD</h6>
                    <p class="card-text">
                      CPPC have been working with the team and Wild for a good few months now and it’s clear this is fast becoming one of the most disruptive personal care brands out there. Replacing conventional deodorants with a bio-based refill cartridge that slots into a premium aluminium case for ease of use and transport in your gym bag.
                    </p>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="<%= christmasiscoming_path %>">
                  <img src="https://i.ibb.co/prZ6DN7/Blog-entry-4.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6>CHRISTMAS IS COMING!</h6>
                    <p class="card-text">
                      Which is why, at CPPC towers, we are thrilled to craft super stylish and sustainable packaging for a number of our luxury clients. Smouldering and strong, blended to fill your home full of seasonal citrus scents, light AKT's signature SC.01 Orange Grove candle for instant festive feels. CPPC produced the amber-tinted and screen-printed glassware featuring AKT's chic branding.
                    </p>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="<%= ecommerce_path %>">
                  <img src="https://i.ibb.co/9G7TJSX/2.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6>E-COMMERCE</h6>
                    <p class="card-text">
                      The move of the retail space to e-commerce has been accelerated at an incredible rate thanks to the pandemic but it has also created a brand new shop doorway that has pushed the creativity in this space. The “envelope” for what can be achieved with what is almost always a one-time use part of the packaging journey is innovative, exciting and in many cases very well considered.
                    </p>
                  </div>
                </a>
              </div>


            </div>
          </div>
        </div>
        <button class="carousel-control-prev right-arrow" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>




    </div>


    <div class="news-container scroll-page mobile-news" id="mobile-news-section">
      <div class="mobile-news-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/VjpfQYf/CPPC-Tilly-Sveaas-5.jpg);">
        <h1>News</h1>
      </div>
      <%# https://www.youtube.com/watch?v=kHPm_AlxP7U&t=46s %>
      <div id="mobile-news-carouselExample" class="carousel slide mobile-news-carousel">
        <div class="mobile-carousel-inner carousel-inner">
          <div class="carousel-item active">
            <div class="cards-wrapper mobile-news-cards-wrapper">
              <div class="mobile-news-card">
                <a href="<%= packaginginnovations_path %>">
                  <div class="mobile-card-body">
                    <h6>PACKAGING INNOVATIONS 2023</h6>
                  </div>
                  <img src="https://i.ibb.co/9GVTwgd/Blog-entry-1.jpg" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="mobile-news-card">
                <a href="<%= happyvalentinesday_path %>">
                  <div class="mobile-card-body">
                    <h6>HAPPY VALENTINE’S DAY!</h6>
                  </div>
                  <img src="https://i.ibb.co/C6Q4qmL/Blog-entry-2.jpg" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="mobile-news-card">
                <a href="<%= kariwala_path %>">
                  <div class="mobile-card-body">
                    <h6>CPPC X KARIWALA</h6>
                  </div>
                  <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" class="card-img-top" alt="...">
                </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="cards-wrapper mobile-news-cards-wrapper">
              <div class="mobile-news-card">
                <a href="<%= roamarticle_path %>">
                  <div class="mobile-card-body">
                    <h6>ROAM</h6>
                  </div>
                  <img src="https://i.ibb.co/88h8r7N/Untitled-design-11.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="mobile-news-card">
                <a href="<%= globalrecyclingday_path %>">
                  <div class="mobile-card-body">
                    <h6>GLOBAL RECYCLING DAY</h6>
                  </div>
                  <img src="https://i.ibb.co/z8MWkgk/4.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="mobile-news-card">
                <a href="<%= fiveyearsofcppc_path %>">
                  <div class="mobile-card-body">
                    <h6>FIVE YEARS OF CPPC</h6>
                  </div>
                  <img src="https://i.ibb.co/x3zJ53C/3.png" class="card-img-top" alt="...">
                </a>
              </div>


            </div>
          </div>

          <div class="carousel-item">
            <div class="cards-wrapper mobile-news-cards-wrapper">
              <div class="mobile-news-card">
                <a href="<%= wildarticle_path %>">
                  <div class="mobile-card-body">
                    <h6>WILD</h6>
                  </div>
                  <img src="https://i.ibb.co/bKyP0Zr/1.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="mobile-news-card">
                <a href="<%= christmasiscoming_path %>">
                  <div class="mobile-card-body">
                    <h6>CHRISTMAS IS COMING!</h6>
                  </div>
                  <img src="https://i.ibb.co/prZ6DN7/Blog-entry-4.jpg" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="mobile-news-card">
                <a href="<%= ecommerce_path %>">
                  <div class="mobile-card-body">
                    <h6>E-COMMERCE</h6>
                  </div>
                  <img src="https://i.ibb.co/9G7TJSX/2.png" class="card-img-top" alt="...">
                </a>
              </div>


            </div>
          </div>
        </div>
        <button class="carousel-control-prev right-arrow mobile-news-arrow-top" type="button" data-bs-target="#mobile-news-carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next mobile-news-arrow-bottom" type="button" data-bs-target="#mobile-news-carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>




    </div>
  </div>

  <div id="clients-section">
    <div class="clients-container scroll-page desktop-clients" >
      <div class="section-title clients-title">
        <h1>Info</h1>
      </div>

      <div class="case-text-container">
        <div class="case-text contact-text">
          <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo quote-img quote-left">
          <%# <p>Give us a shout, we’d love to hear from you to talk all things sustainable and packaging. Or dogs - at <b>CPPC</b> we have a couple of canine assistants who are very opinonated.</p>
          <p><a data-tf-popup="FMolCZ0T" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=CPPC Newsletter Signup Form" data-tf-transitive-search-params data-tf-medium="snippet" style="color:#ef4f6d;text-decoration:underline;font-size:20px;cursor:pointer;">Click here</a><script src="//embed.typeform.com/next/embed.js"></script>, fill the form and we will get back to you as soon as possible. Alternatively, you can find us on <a href="https://www.instagram.com/cppc_lex/" target="_blank">Instagram</a>, <a href="https://www.linkedin.com/company/clarity-print-and-packaging-consultancy-ltd?trk=similar-pages" target="_blank">Linkedin</a> or at <a href="mailto: info@cppcuk.com" target="_blank">info@cppcuk.com</a>.</p> %>

          <p>Have any questions for us? <a data-tf-popup="FMolCZ0T" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=CPPC Newsletter Signup Form" data-tf-transitive-search-params data-tf-medium="snippet" style="color:#ef4f6d;text-decoration:underline;font-size:20px;cursor:pointer;">Click here</a><script src="//embed.typeform.com/next/embed.js"></script>, fill the form and we will get back to you as soon as possible. Alternatively, you can find us on <a href="https://www.instagram.com/cppc_lex/" target="_blank">Instagram</a>, <a href="https://www.linkedin.com/company/clarity-print-and-packaging-consultancy-ltd?trk=similar-pages" target="_blank">Linkedin</a> or at <a href="mailto: info@cppcuk.com" target="_blank">info@cppcuk.com</a>.</p>
          <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo quote-img quote-right">
        </div>
      </div>

      <div class="clients-subtitle">
        <h1>Who we work with</h1>
      </div>

      <div id="carouselClients" class="carousel slide">
        <div class="carousel-inner clients-carousel-inner">
          <div class="carousel-item active">
            <div class="cards-wrapper">
              <div class="card client-card">
                <a href="https://www.fortnumandmason.com/" target="_blank">
                  <img src="https://i.ibb.co/mbKPjXJ/Fortnum-and-mason-logo-stacked.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://neatclean.com/?utm_source=google&utm_medium=cpc&utm_campaign=14821940561&utm_content=124697036301&utm_term=neat&gclid=Cj0KCQjwyLGjBhDKARIsAFRNgW9JtHrx7dHt1BLiwstxcS1fcMNBhCfUSKAxrAn7OfN1mVQPdqqBr6UaAqrsEALw_wcB" target="_blank">
                  <img src="https://i.ibb.co/kMxZzmt/NEAT-Logo-RGB-500x.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://www.exploreroam.com/" target="_blank">
                  <img src="https://i.ibb.co/4sP7JZK/218864833-104189261952256-8057249394250488165-n.png" class="card-img-top" alt="...">
                </a>
              </div>


            </div>
          </div>
          <div class="carousel-item">
            <div class="cards-wrapper">
              <div class="card client-card">
                <a href="https://namsu.me/" target="_blank">
                  <img src="https://i.ibb.co/yyS2MkP/2x-E-Namsu-Logo-Hi-Res-01-180x.webp" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://www.wearewild.com/?utm_source=google&utm_medium=cpc&utm_campaign=18017004701&utm_content&utm_term&gad=1&gclid=Cj0KCQjwyLGjBhDKARIsAFRNgW_nGzI-IeXaphvazn6Og2Mlr7FT3M53vvO1Z8-UX4dWHBfKoZcZeEcaAnVlEALw_wcB" target="_blank">
                  <img src="https://i.ibb.co/sqRcktT/wild-logo-transparent.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://machina-coffee.com/" target="_blank">
                  <img src="https://i.ibb.co/gP2FLp6/Machina-logo.webp" class="card-img-top" alt="...">
                </a>
              </div>

            </div>
          </div>

          <div class="carousel-item">
            <div class="cards-wrapper">
              <div class="card client-card">
                <a href="https://otocbd.com/" target="_blank">
                  <img src="https://i.ibb.co/gd9V6ZM/OTO-logo.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://tillysveaas.co.uk/?utm_source=google&utm_medium=cpc&utm_campaign=15383504367&gad=1&gclid=Cj0KCQjwyLGjBhDKARIsAFRNgW_kxek1lGmx8MRCBi2vND8meKDtdGpOEwydYPIiNnTFcZ2kRrClC9oaAlzWEALw_wcB" target="_blank">
                  <img src="https://i.ibb.co/G5whVQz/Tilly-sveaas-logo.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://owllark.com/?utm_source=google&utm_medium=cpc&utm_campaign=search_brand&gclid=Cj0KCQjwyLGjBhDKARIsAFRNgW9WJb4t6T_7Wq0EjIASiZTvskAMU8jOc28hGaxdpXlAOlmMSGW2-LgaAvtQEALw_wcB" target="_blank">
                  <img src="https://i.ibb.co/PtyhS71/owllark-logo.png" class="card-img-top" alt="...">
                </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="cards-wrapper">
              <div class="card client-card">
                <a href="https://www.vodafone.co.uk/?icmp=uk~1_consumer~topnav~logo~vodafone_logo&linkpos=topnav~1" target="_blank">
                  <img src="https://i.ibb.co/p4n3gTT/cppc-vodafone-logo.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://www.selfridges.com/GB/en/?gclsrc=aw.ds&gclid=Cj0KCQjwj_ajBhCqARIsAA37s0y4SFsIAzR_auHy-rLZE4YTGQzP0ZHIpDoJ5QlKssq_rcIeC2b3RhMaAg9lEALw_wcB&gclsrc=aw.ds" target="_blank">
                  <img src="https://i.ibb.co/pJvKn9z/cppc-logo-selfridges.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://www.universalmusic.com/label/emi/" target="_blank">
                  <img src="https://i.ibb.co/TWhVHnr/cppc-emi-logo.png" class="card-img-top" alt="...">
                </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="cards-wrapper">
              <div class="card client-card">
                <a href="https://toniandguy.com/" target="_blank">
                  <img src="https://i.ibb.co/NsyHTv7/cppc-toni-guy-logo.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://uk.puma.com/uk/en?gclid=Cj0KCQjwj_ajBhCqARIsAA37s0wqnzP09A6dw7KEKXQD4_MGm5jTwHveZA1B390w-ayXOs15Zi0RqeMaAsKZEALw_wcB" target="_blank">
                  <img src="https://i.ibb.co/mJ9hs2W/cppc-logo-puma.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://www.tedbaker.com/uk?cmpid=ppc~google~Brand~a_search_brand_uk_core_mw~51665737097~na~na~na~UK&gclid=Cj0KCQjwj_ajBhCqARIsAA37s0zLrx4fksZKujGH4XUwgUfumkXZjTcgkJl0hXfp-bc3LPfGHFEfhugaAmLYEALw_wcB" target="_blank">
                  <img src="https://i.ibb.co/p1hc51s/cppc-ted-baker-logo.png" class="card-img-top" alt="...">
                </a>
              </div>
            </div>
          </div>
          <%# <div class="carousel-item">
                  <img src="https://i.ibb.co/9ZyC98F/218864833-104189261952256-8057249394250488165-n.png" class="card-img-top" alt="...">
          </div> %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselClients" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselClients" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <%# <div class="clients-footer" >
      </div> %>

      <%# <div class="clients-footer" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://i.ibb.co/FB3tckG/200716-CPPC-Compliment-card-2.png);">
      </div> %>
    </div>


    <div class="clients-container scroll-page mobile-clients" id="mobile-clients-section">
      <div class="mobile-section-title clients-title">
        <h1>Info</h1>
      </div>

      <div class="case-text-container mobile-case-text-container">
        <div class="case-text mobile-contact-text">
          <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
          <%# <p>Give us a shout, we’d love to hear from you to talk all things sustainable and packaging. Or dogs - at <b>CPPC</b> we have a couple of canine assistants who are very opinonated.</p>
          <p><a data-tf-popup="FMolCZ0T" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=CPPC Newsletter Signup Form" data-tf-transitive-search-params data-tf-medium="snippet" style="color:#ef4f6d;text-decoration:underline;font-size:20px;cursor:pointer;">Click here</a><script src="//embed.typeform.com/next/embed.js"></script>, fill the form and we will get back to you as soon as possible. Alternatively, you can find us on <a href="https://www.instagram.com/cppc_lex/" target="_blank">Instagram</a>, <a href="https://www.linkedin.com/company/clarity-print-and-packaging-consultancy-ltd?trk=similar-pages" target="_blank">Linkedin</a> or at <a href="mailto: info@cppcuk.com" target="_blank">info@cppcuk.com</a>.</p> %>

          <p>Have any questions for us? <a data-tf-popup="FMolCZ0T" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=CPPC Newsletter Signup Form" data-tf-transitive-search-params data-tf-medium="snippet" style="color:#ef4f6d;text-decoration:underline;font-size:20px;cursor:pointer;">Click here</a><script src="//embed.typeform.com/next/embed.js"></script>, fill the form and we will get back to you as soon as possible. Alternatively, you can find us on <a href="https://www.instagram.com/cppc_lex/" target="_blank">Instagram</a>, <a href="https://www.linkedin.com/company/clarity-print-and-packaging-consultancy-ltd?trk=similar-pages" target="_blank">Linkedin</a> or at <a href="mailto: info@cppcuk.com" target="_blank">info@cppcuk.com</a>.</p>
          <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
        </div>
      </div>

      <div class="mobile-clients-subtitle">
        <h1>Who we work with</h1>
      </div>

      <div id="mobileCarouselClients" class="carousel slide">
        <div class="carousel-inner clients-carousel-inner">
          <div class="carousel-item active">
            <div class="cards-wrapper">
              <div class="card client-card">
                <a href="https://www.fortnumandmason.com/" target="_blank">
                  <img src="https://i.ibb.co/mbKPjXJ/Fortnum-and-mason-logo-stacked.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://neatclean.com/?utm_source=google&utm_medium=cpc&utm_campaign=14821940561&utm_content=124697036301&utm_term=neat&gclid=Cj0KCQjwyLGjBhDKARIsAFRNgW9JtHrx7dHt1BLiwstxcS1fcMNBhCfUSKAxrAn7OfN1mVQPdqqBr6UaAqrsEALw_wcB" target="_blank">
                  <img src="https://i.ibb.co/kMxZzmt/NEAT-Logo-RGB-500x.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://www.exploreroam.com/" target="_blank">
                  <img src="https://i.ibb.co/4sP7JZK/218864833-104189261952256-8057249394250488165-n.png" class="card-img-top" alt="...">
                </a>
              </div>


            </div>
          </div>
          <div class="carousel-item">
            <div class="cards-wrapper">
              <div class="card client-card">
                <a href="https://namsu.me/" target="_blank">
                  <img src="https://i.ibb.co/yyS2MkP/2x-E-Namsu-Logo-Hi-Res-01-180x.webp" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://www.wearewild.com/?utm_source=google&utm_medium=cpc&utm_campaign=18017004701&utm_content&utm_term&gad=1&gclid=Cj0KCQjwyLGjBhDKARIsAFRNgW_nGzI-IeXaphvazn6Og2Mlr7FT3M53vvO1Z8-UX4dWHBfKoZcZeEcaAnVlEALw_wcB" target="_blank">
                  <img src="https://i.ibb.co/sqRcktT/wild-logo-transparent.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://machina-coffee.com/" target="_blank">
                  <img src="https://i.ibb.co/gP2FLp6/Machina-logo.webp" class="card-img-top" alt="...">
                </a>
              </div>

            </div>
          </div>

          <div class="carousel-item">
            <div class="cards-wrapper">
              <div class="card client-card">
                <a href="https://otocbd.com/" target="_blank">
                  <img src="https://i.ibb.co/gd9V6ZM/OTO-logo.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://tillysveaas.co.uk/?utm_source=google&utm_medium=cpc&utm_campaign=15383504367&gad=1&gclid=Cj0KCQjwyLGjBhDKARIsAFRNgW_kxek1lGmx8MRCBi2vND8meKDtdGpOEwydYPIiNnTFcZ2kRrClC9oaAlzWEALw_wcB" target="_blank">
                  <img src="https://i.ibb.co/G5whVQz/Tilly-sveaas-logo.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://owllark.com/?utm_source=google&utm_medium=cpc&utm_campaign=search_brand&gclid=Cj0KCQjwyLGjBhDKARIsAFRNgW9WJb4t6T_7Wq0EjIASiZTvskAMU8jOc28hGaxdpXlAOlmMSGW2-LgaAvtQEALw_wcB" target="_blank">
                  <img src="https://i.ibb.co/PtyhS71/owllark-logo.png" class="card-img-top" alt="...">
                </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="cards-wrapper">
              <div class="card client-card">
                <a href="https://www.vodafone.co.uk/?icmp=uk~1_consumer~topnav~logo~vodafone_logo&linkpos=topnav~1" target="_blank">
                  <img src="https://i.ibb.co/p4n3gTT/cppc-vodafone-logo.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://www.selfridges.com/GB/en/?gclsrc=aw.ds&gclid=Cj0KCQjwj_ajBhCqARIsAA37s0y4SFsIAzR_auHy-rLZE4YTGQzP0ZHIpDoJ5QlKssq_rcIeC2b3RhMaAg9lEALw_wcB&gclsrc=aw.ds" target="_blank">
                  <img src="https://i.ibb.co/pJvKn9z/cppc-logo-selfridges.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://www.universalmusic.com/label/emi/" target="_blank">
                  <img src="https://i.ibb.co/TWhVHnr/cppc-emi-logo.png" class="card-img-top" alt="...">
                </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="cards-wrapper">
              <div class="card client-card">
                <a href="https://toniandguy.com/" target="_blank">
                  <img src="https://i.ibb.co/NsyHTv7/cppc-toni-guy-logo.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://uk.puma.com/uk/en?gclid=Cj0KCQjwj_ajBhCqARIsAA37s0wqnzP09A6dw7KEKXQD4_MGm5jTwHveZA1B390w-ayXOs15Zi0RqeMaAsKZEALw_wcB" target="_blank">
                  <img src="https://i.ibb.co/mJ9hs2W/cppc-logo-puma.png" class="card-img-top" alt="...">
                </a>
              </div>

              <div class="card client-card">
                <a href="https://www.tedbaker.com/uk?cmpid=ppc~google~Brand~a_search_brand_uk_core_mw~51665737097~na~na~na~UK&gclid=Cj0KCQjwj_ajBhCqARIsAA37s0zLrx4fksZKujGH4XUwgUfumkXZjTcgkJl0hXfp-bc3LPfGHFEfhugaAmLYEALw_wcB" target="_blank">
                  <img src="https://i.ibb.co/p1hc51s/cppc-ted-baker-logo.png" class="card-img-top" alt="...">
                </a>
              </div>
            </div>
          </div>
          <%# <div class="carousel-item">
                  <img src="https://i.ibb.co/9ZyC98F/218864833-104189261952256-8057249394250488165-n.png" class="card-img-top" alt="...">
          </div> %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mobileCarouselClients" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mobileCarouselClients" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <%# <div class="clients-footer" >
      </div> %>

      <%# <div class="clients-footer" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://i.ibb.co/FB3tckG/200716-CPPC-Compliment-card-2.png);">
      </div> %>
    </div>
  </div>




</div>
