<div class="home-container mandatory-scroll-snapping">

  <div class="home-banner scroll-page">
    <div id="carouselExampleAutoplaying" class="carousel slide home-carousel carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active home-slide" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/xFXDdDY/CPPC-AKT-3.jpg);">
          <div class="home-title-container position-absolute top-50 start-50 translate-middle">
            <img src="https://i.ibb.co/48n96BD/LOGO-SYMBOL-WHITE-TRANSPARENT.png", class="home-logo">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
        </div>
        <div class="carousel-item home-slide" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/XDwcGmR/CPPC-AKT-4.jpg);">
          <div class="home-title-container position-absolute top-50 start-50 translate-middle">
            <img src="https://i.ibb.co/48n96BD/LOGO-SYMBOL-WHITE-TRANSPARENT.png", class="home-logo">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
        </div>
        <div class="carousel-item home-slide" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/kcntNhz/CPPC-NAMSU-4.jpg);">
          <div class="home-title-container position-absolute top-50 start-50 translate-middle">
            <img src="https://i.ibb.co/48n96BD/LOGO-SYMBOL-WHITE-TRANSPARENT.png", class="home-logo">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
        </div>
        <div class="carousel-item home-slide" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/pZD6HRd/CPPC-ROAM-3.jpg);">
          <div class="home-title-container position-absolute top-50 start-50 translate-middle">
            <img src="https://i.ibb.co/48n96BD/LOGO-SYMBOL-WHITE-TRANSPARENT.png", class="home-logo">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
        </div>
        <div class="carousel-item home-slide" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/Lp631kV/CPPC-WILD-4.jpg);">
          <div class="home-title-container position-absolute top-50 start-50 translate-middle">
            <img src="https://i.ibb.co/48n96BD/LOGO-SYMBOL-WHITE-TRANSPARENT.png", class="home-logo">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>



  <div class="case-studies-container scroll-page">
    <div class="section-title">
      <h1>Case Studies</h1>
    </div>

    <div class="case-studies-list">

      <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297792/CPPC_WILD_1_25_lya2vq.jpg);">
        <div class="case-study-filter">
          <h2><%= link_to "Wild", root_path %></h2>
        </div>

      </div>

      <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297432/CPPC_ROAM_5_efs8zm.jpg);">
        <div class="case-study-filter">
          <h2><%= link_to "Roam", root_path %></h2>
        </div>

      </div>

      <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297429/CPPC_NEAT_1_w2wueg.jpg);">
        <div class="case-study-filter">
          <h2><%= link_to "Neat", root_path %></h2>
        </div>

      </div>

      <div class="case-study" style="background-color: white);">
        <div class="case-study-filter">
          <h2><%= link_to "Case Studies", root_path %></h2>
        </div>

      </div>

      <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297425/CPPC_NAMSU_1_cv8k1n.jpg);">
        <div class="case-study-filter">
          <h2><%= link_to "Namsu", root_path %></h2>
        </div>

      </div>

      <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297428/CPPC_AKT_5_pv1agb.jpg);">
        <div class="case-study-filter">
          <h2><%= link_to "AKT", root_path %></h2>
        </div>

      </div>

    </div>

  </div>

  <div class="news-container scroll-page">
    <div class="section-title">
      <h1>News</h1>
    </div>
    <%# https://www.youtube.com/watch?v=kHPm_AlxP7U&t=46s %>
    <div id="carouselExample" class="carousel slide news-carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="cards-wrapper">
            <div class="card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/9GVTwgd/Blog-entry-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6>PACKAGING INNOVATIONS 2023</h6>
                  <p class="card-text">
                    Just recovering from a whirlwind trip up to The NEC in Birmingham last week, to the annual Packaging Innovations Exhibition, where I hooked up with all the major players in the biz and listened to expert speakers share their thoughts on the future of our industry.
                  </p>
                </div>
              </a>
            </div>

            <div class="card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/C6Q4qmL/Blog-entry-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6>HAPPY VALENTINE’S DAY!</h6>
                  <p class="card-text">
                    Our current crush is Roam and their cheeky Valentine’s range. The All Night Long Kit is a personal fave and there’s also The Couple’s Kit, The Cupid Kit and The Roamance Kit. Behind the quirky names the brand has a serious sentiment, and that is to challenge stigmas around sex providing a range that supports what feels natural.
                  </p>
                </div>
              </a>
            </div>

            <div class="card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6>CPPC X KARIWALA</h6>
                  <p class="card-text">
                    Happy Sustainable and Successful New Year. Success at CPPC towers doesn't just mean working with brilliant clients, getting exciting briefs and discovering innovative and sustainable packaging solutions. Success also means the positive impact we have along the way by creating work for people as we source our materials and products from around the globe.
                  </p>
                </div>
              </a>
            </div>

            <div class="card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/prZ6DN7/Blog-entry-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6>CHRISTMAS IS COMING!</h6>
                  <p class="card-text">
                    Which is why, at CPPC towers, we are thrilled to craft super stylish and sustainable packaging for a number of our luxury clients. Smouldering and strong, blended to fill your home full of seasonal citrus scents, light AKT's signature SC.01 Orange Grove candle for instant festive feels. CPPC produced the amber-tinted and screen-printed glassware featuring AKT's chic branding.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="cards-wrapper">
            <div class="card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/9GVTwgd/Blog-entry-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6>PACKAGING INNOVATIONS 2023</h6>
                  <p class="card-text">
                    Just recovering from a whirlwind trip up to The NEC in Birmingham last week, to the annual Packaging Innovations Exhibition, where I hooked up with all the major players in the biz and listened to expert speakers share their thoughts on the future of our industry.
                  </p>
                </div>
              </a>
            </div>

            <div class="card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/C6Q4qmL/Blog-entry-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6>HAPPY VALENTINE’S DAY!</h6>
                  <p class="card-text">
                    Our current crush is Roam and their cheeky Valentine’s range. The All Night Long Kit is a personal fave and there’s also The Couple’s Kit, The Cupid Kit and The Roamance Kit. Behind the quirky names the brand has a serious sentiment, and that is to challenge stigmas around sex providing a range that supports what feels natural.
                  </p>
                </div>
              </a>
            </div>

            <div class="card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6>CPPC X KARIWALA</h6>
                  <p class="card-text">
                    Happy Sustainable and Successful New Year. Success at CPPC towers doesn't just mean working with brilliant clients, getting exciting briefs and discovering innovative and sustainable packaging solutions. Success also means the positive impact we have along the way by creating work for people as we source our materials and products from around the globe.
                  </p>
                </div>
              </a>
            </div>

            <div class="card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/prZ6DN7/Blog-entry-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6>CHRISTMAS IS COMING!</h6>
                  <p class="card-text">
                    Which is why, at CPPC towers, we are thrilled to craft super stylish and sustainable packaging for a number of our luxury clients. Smouldering and strong, blended to fill your home full of seasonal citrus scents, light AKT's signature SC.01 Orange Grove candle for instant festive feels. CPPC produced the amber-tinted and screen-printed glassware featuring AKT's chic branding.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="cards-wrapper">
            <div class="card">
                <a href="<%= happyvalentinesday_path %>">
                  <img src="https://i.ibb.co/9GVTwgd/Blog-entry-1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6>PACKAGING INNOVATIONS 2023</h6>
                    <p class="card-text">
                      Just recovering from a whirlwind trip up to The NEC in Birmingham last week, to the annual Packaging Innovations Exhibition, where I hooked up with all the major players in the biz and listened to expert speakers share their thoughts on the future of our industry.
                    </p>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="<%= happyvalentinesday_path %>">
                  <img src="https://i.ibb.co/C6Q4qmL/Blog-entry-2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6>HAPPY VALENTINE’S DAY!</h6>
                    <p class="card-text">
                      Our current crush is Roam and their cheeky Valentine’s range. The All Night Long Kit is a personal fave and there’s also The Couple’s Kit, The Cupid Kit and The Roamance Kit. Behind the quirky names the brand has a serious sentiment, and that is to challenge stigmas around sex providing a range that supports what feels natural.
                    </p>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="<%= happyvalentinesday_path %>">
                  <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6>CPPC X KARIWALA</h6>
                    <p class="card-text">
                      Happy Sustainable and Successful New Year. Success at CPPC towers doesn't just mean working with brilliant clients, getting exciting briefs and discovering innovative and sustainable packaging solutions. Success also means the positive impact we have along the way by creating work for people as we source our materials and products from around the globe.
                    </p>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="<%= happyvalentinesday_path %>">
                  <img src="https://i.ibb.co/prZ6DN7/Blog-entry-4.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6>CHRISTMAS IS COMING!</h6>
                    <p class="card-text">
                      Which is why, at CPPC towers, we are thrilled to craft super stylish and sustainable packaging for a number of our luxury clients. Smouldering and strong, blended to fill your home full of seasonal citrus scents, light AKT's signature SC.01 Orange Grove candle for instant festive feels. CPPC produced the amber-tinted and screen-printed glassware featuring AKT's chic branding.
                    </p>
                  </div>
                </a>
              </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev right-arrow" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon " aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>




  </div>

  <div class="our-story-container scroll-page">
    <div class="section-title">
      <h1>Our Story</h1>
    </div>
    <div class="our-story-body">
      <img src="https://i.ibb.co/5998X5t/lex-CPPC-portrait-6-copy.jpg", class="our-story-photo">
      <div class="our-story-text">

        <p>We are CPPC = Clarity Print & Packaging Consultancy Ltd
        <br>
        And I’m founder and CEO Alex Higgs.</p>
        <br>
        <p>I started the company because my passion is turning innovative design into desirable creations, and I’ve now have been collaborating on packaging and procurement with outstanding brands for nearly 20 years. We have the very best production partners in the industry, which means we are able to quickly provide the best ideas and solutions to meet the needs of our diverse range of clients.</p>
        <br>
        <p>We have expertise in concepting and creating both primary and secondary packaging in a wide range of materials. Where the brief permits we will always go for ground-breaking and pioneering. Sometimes that’s manufacturing a whole new product line from the ground up, like the aluminium cases for Wild, or sometimes that’s just thinking “out of the box”, like replacing all of Rococo chocolate’s vac formed trays with sustainable paper-based alternatives.</p>
        <br>
        <p>As leading creators in packaging and an authority on sustainable packaging, we are as comfortable partnering with disruptor start-ups as we are with high street brands and and household names.</p>
        <br>
        <p>The secret of our success is communication and alignment. And we don’t mind sharing that. It is vital that communication, the sign off process and input from each production partner are all aligned. That is how you achieve the best results and a seamless process.</p>
        <br>
        <p>Give us a shout, we’d love to hear from you to talk all things sustainable and packaging. Or dogs - at CPPC we have a couple of canine assistants who are very opinonated.</p>
        <br>
        <p>Hope to speak soon.</p>
        <br>
        <p><b>LEX</b></p>

      </div>
    </div>
  </div>

  <div class="sustainability-container scroll-page">
    <div class="sustainability-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/H2m1BCs/AKT-4-copy.jpg);">
      <img src="https://i.ibb.co/tJM5X3F/Approved-Partner-CMYK-Grey-Solid.png", class="sustainability-stamp">
    </div>
    <div class="sustainability-text">
      <%# <div class="sustainability-title"> %>
        <h1>Sustainability</h1>
      <%# </div> %>
      <div class="sustainability-paragraph">
        <div class="quotation quotation-left">
          <img src="https://i.ibb.co/hCPrXPn/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo">
        </div>
        <p><b>CPPC</b> cares deeply about how our operations impact people and the world we all share. We strive to produce high-quality products through ethical business practices and by evaluating the practices of the production companies we choose to partner with. We adopt new, environmentally friendly packaging innovations as soon as they are available and we are always looking for innovations to help our clients find sustainable solutions.These goals are at the core of who we are and the drivers behind all our decision making. And we hear first hand the difference they make to the people we work with. And that makes everything we do worthwhile.
        </p>
        <div class="quotation quotation-right">
          <img src="https://i.ibb.co/0yj4ypQ/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo">
        </div>
      </div>
    </div>
  </div>

  <div class="clients-container scroll-page">
    <div class="section-title">
      <h1>Clients</h1>
    </div>

    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="cards-wrapper">
            <div class="card client-card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/4jMmw6K/Fortnum-and-mason-logo-stacked.png" class="card-img-top" alt="...">
              </a>
            </div>

            <div class="card client-card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/RpPgLwJ/NEAT-Logo-RGB-500x.png" class="card-img-top" alt="...">
              </a>
            </div>

            <div class="card client-card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/9ZyC98F/218864833-104189261952256-8057249394250488165-n.png" class="card-img-top" alt="...">
              </a>
            </div>

            <div class="card client-card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/Wg48gXy/wild-logo-transparent.png" class="card-img-top" alt="...">
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="cards-wrapper">
            <div class="card client-card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/HrJg4JX/2x-E-Namsu-Logo-Hi-Res-01-180x.webp" class="card-img-top" alt="...">
              </a>
            </div>

            <div class="card client-card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/HrJg4JX/2x-E-Namsu-Logo-Hi-Res-01-180x.webp" class="card-img-top" alt="...">
              </a>
            </div>

            <div class="card client-card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/HrJg4JX/2x-E-Namsu-Logo-Hi-Res-01-180x.webp" class="card-img-top" alt="...">
              </a>
            </div>

            <div class="card client-card">
              <a href="<%= happyvalentinesday_path %>">
                <img src="https://i.ibb.co/HrJg4JX/2x-E-Namsu-Logo-Hi-Res-01-180x.webp" class="card-img-top" alt="...">
              </a>
            </div>
          </div>
        </div>
        <%# <div class="carousel-item">
                <img src="https://i.ibb.co/9ZyC98F/218864833-104189261952256-8057249394250488165-n.png" class="card-img-top" alt="...">
        </div> %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>



    <div class="clients-footer" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://i.ibb.co/FB3tckG/200716-CPPC-Compliment-card-2.png);">
    </div>

  </div>


</div>
