<div class="home-container">
  <div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/FYyT2JC/CPPC-AKT-3.jpg);">
    <img src="https://i.ibb.co/48n96BD/LOGO-SYMBOL-WHITE-TRANSPARENT.png", class="home-logo">
    <div class="home-title-container">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
    </div>
  </div>

  <div class="case-studies-container">
    <div class="case-studies-title">
      <h1>Case Studies</h1>
    </div>

    <div class="case-studies-list">

      <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297792/CPPC_WILD_1_25_lya2vq.jpg);">
        <div class="case-study-filter">
          <h2><%= link_to "Wild", root_path %></h2>
        </div>

      </div>

      <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297432/CPPC_ROAM_5_efs8zm.jpg);">
        <div class="case-study-filter">
          <h2><%= link_to "Roam", root_path %></h2>
        </div>

      </div>

      <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297429/CPPC_NEAT_1_w2wueg.jpg);">
        <div class="case-study-filter">
          <h2><%= link_to "Neat", root_path %></h2>
        </div>

      </div>

      <div class="case-study" style="background-color: white);">
        <div class="case-study-filter">
          <h2><%= link_to "Case Studies", root_path %></h2>
        </div>

      </div>

      <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297425/CPPC_NAMSU_1_cv8k1n.jpg);">
        <div class="case-study-filter">
          <h2><%= link_to "Namsu", root_path %></h2>
        </div>

      </div>

      <div class="case-study" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dpr9f2iyl/image/upload/v1681297428/CPPC_AKT_5_pv1agb.jpg);">
        <div class="case-study-filter">
          <h2><%= link_to "AKT", root_path %></h2>
        </div>

      </div>

    </div>

  </div>
</div>
