<div class="valentine-container desktop-valentine">
  <div class="valentine-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://i.ibb.co/n7vsZp9/CPPC-KARIWALAImpact-Work-Book-3-1-copy.jpg);">
    <h1>CPPC x Kariwala</h1>
  </div>
  <div class="valentine-body blog-column">
    <div class="valentine-text valentine-text-column">
      <p>Happy Sustainable and Successful New Year. Success at CPPC towers doesn't just mean working with brilliant clients, getting exciting briefs and discovering innovative and sustainable packaging solutions. Success also means the positive impact we have along the way by creating work for people as we source our materials and products from around
      the globe. So we were thrilled to receive this email from Kariwala, who are our super- forward thinking textile suppliers in West Bengal in India. They are really proud of the work they create for people within their community, and I am especially proud of their approach to inclusivity. They run a tribal school committed to the empowerment of their ’tribal and rural brethren making them socially strong, educationally aware, economically vibrant and self-reliant along with their yearly eye clinics, factory temple and table tennis room (yes we have participated!)</p>
      <br>
      <p>They emailed to tell us:</p>
      <p>"Your orders worth USD 2,424.00 created 51 person-days of jobs ! This was the direct impact! The local community thanks us, but in reality, thanks should go to you. We take this opportunity to thank you from the bottom of our hearts for being a valued customer in 2022."</p>
      <p>Namaste!</p>
      <p>Adena</p>
    </div>
    <div class="valentine-carousel valentine-carousel-column">
      <div id="valentine-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ibb.co/n7vsZp9/CPPC-KARIWALAImpact-Work-Book-3-1-copy.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/NxN9NDz/CPPC-KARIWALAImpact-Work-Book-3-9-copy.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/SVXy1HJ/CPPC-KARIWALAImpact-Work-Book-3-10-copy.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/CK5TMR8/CPPC-KARIWALAImpact-Work-Book-3-12-copy.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/3Yd72Lm/CPPC-KARIWALAImpact-Work-Book-3-14-copy.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/SVH0bqt/CPPC-KARIWALAImpact-Work-Book-3-15-copy.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#valentine-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#valentine-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


    </div>
  </div>
  <div class="more-news">
    <h6>More News...</h6>
    <div class="more-news-list">
      <div class="more-news-card">
        <a href="<%= happyvalentinesday_path %>">
          <img src="https://i.ibb.co/C6Q4qmL/Blog-entry-2.jpg" alt="...">
          <p>HAPPY VALENTINE'S DAY</p>
        </a>
      </div>
      <div class="more-news-card">
        <a href="<%= globalrecyclingday_path %>">
          <img src="https://i.ibb.co/z8MWkgk/4.png" alt="...">
          <p>GLOBAL RECYCLING DAY</p>
        </a>
      </div>
      <div class="more-news-card">
        <a href="<%= christmasiscoming_path %>">
          <img src="https://i.ibb.co/prZ6DN7/Blog-entry-4.jpg" alt="...">
          <p>CHRISTMAS IS COMING</p>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="mobile-valentine-container mobile-valentine">
  <div class="mobile-valentine-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://i.ibb.co/n7vsZp9/CPPC-KARIWALAImpact-Work-Book-3-1-copy.jpg);">
    <h1>CPPC x Kariwala</h1>
  </div>
  <div class="mobile-valentine-body">
    <div class="mobile-valentine-text">
      <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <p>Happy Sustainable and Successful New Year. Success at CPPC towers doesn't just mean working with brilliant clients, getting exciting briefs and discovering innovative and sustainable packaging solutions. Success also means the positive impact we have along the way by creating work for people as we source our materials and products from around
      the globe. So we were thrilled to receive this email from Kariwala, who are our super- forward thinking textile suppliers in West Bengal in India. They are really proud of the work they create for people within their community, and I am especially proud of their approach to inclusivity. They run a tribal school committed to the empowerment of their ’tribal and rural brethren making them socially strong, educationally aware, economically vibrant and self-reliant along with their yearly eye clinics, factory temple and table tennis room (yes we have participated!)</p>
      <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
    </div>





    <div class="mobile-valentine-carousel">
      <div id="mobile-valentine-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ibb.co/n7vsZp9/CPPC-KARIWALAImpact-Work-Book-3-1-copy.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/NxN9NDz/CPPC-KARIWALAImpact-Work-Book-3-9-copy.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/SVXy1HJ/CPPC-KARIWALAImpact-Work-Book-3-10-copy.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/CK5TMR8/CPPC-KARIWALAImpact-Work-Book-3-12-copy.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/3Yd72Lm/CPPC-KARIWALAImpact-Work-Book-3-14-copy.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/SVH0bqt/CPPC-KARIWALAImpact-Work-Book-3-15-copy.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mobile-valentine-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mobile-valentine-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="mobile-valentine-text">
      <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <p>They emailed to tell us:</p>
      <p>"Your orders worth USD 2,424.00 created 51 person-days of jobs ! This was the direct impact! The local community thanks us, but in reality, thanks should go to you. We take this opportunity to thank you from the bottom of our hearts for being a valued customer in 2022."</p>
      <p>Namaste!</p>
      <p>Adena</p>
      <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
    </div>

  </div>

  <div class="mobile-more-news">
    <h6>More News...</h6>
    <div class="mobile-more-news-list">
      <div class="mobile-more-news-card">
        <a href="<%= happyvalentinesday_path %>">
          <img src="https://i.ibb.co/C6Q4qmL/Blog-entry-2.jpg" alt="...">
          <p>HAPPY VALENTINE'S DAY</p>
        </a>
      </div>
      <div class="mobile-more-news-card">
        <a href="<%= globalrecyclingday_path %>">
          <img src="https://i.ibb.co/z8MWkgk/4.png" alt="...">
          <p>GLOBAL RECYCLING DAY</p>
        </a>
      </div>
      <div class="mobile-more-news-card">
        <a href="<%= christmasiscoming_path %>">
          <img src="https://i.ibb.co/prZ6DN7/Blog-entry-4.jpg" alt="...">
          <p>CHRISTMAS IS COMING</p>
        </a>
      </div>
    </div>
  </div>
</div>
