<%= render 'shared/navbar-2' %>

<div class="valentine-container desktop-valentine">
  <div class="valentine-banner oto-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(https://i.ibb.co/hdnrL7V/CPPC-PACKAGING-INNOVATIONS-IMG-5035.jpg);">
    <h1>Packaging innovations 2023</h1>
  </div>
  <div class="valentine-body blog-column">
    <div class="valentine-text valentine-text-column">
      <p>Just recovering from a whirlwind trip up to The NEC in Birmingham last week, to the annual Packaging Innovations Exhibition, where I hooked up with all the major players in the biz and listened to expert speakers share their thoughts on the future of our industry. A handful of my fab past and present collaborators were up there, including Roam, Neat and Rocco Chocolate, and there was a buzz about the packaging industry that I haven’t seen in a decade. New players, new commitments and bloody brilliant new ideas were in full flow. One really important topic of discussion was that serious investment is needed in the closed-loop recycling infrastructure in the UK in order to meet increased demand for recycled materials. Industry leaders are lobbying HMRC for funds generated from the Plastic Packaging Tax to be funnelled in this direction, as now is the perfect time and opportunity to build a world-beating recycling infrastructure here. That way we as an
      industry can continue to grow this side of the business and provide high value, high-quality recycled materials to continue to reduce dependency on virgin materials. Here are my top faves from the exciting innovations I spied at The NEC. We make sure we are always in touch with new developing solutions and ideas, and so we are already working them into packaging solutions for our clients at CPPC.</p>
      <br>
      <p><b>1. Mono Material Coffee Pouches</b></p>
      <br>
      <p>As L4 soft plastic recycling streams increase the use of material such as low density polyethylene for mono material coffee pouches, we feel this gives the most all round and robust solution to this huge market for quality coffee...Look out for our collab with Machina Coffee here.</p>
      <a href="https://machina-coffee.com">Visit Machina</a>
      <br>
      <p><b>2. 100% Recyclable Valve</b></p>
      <br>
      <p>Also a development in mono material, Weener Plastics have created a fully recyclable dispensing closure for the food industry that can go into a standard recycling stream.They have managed to remove the silicon in this product without compromising the functionality. At all.</p>
      <br>
      <p><b>3. IMPAC-T</b></p>
      <br>
      <p>A recyclable rPET composite pack that enables UK food producers to switch from traditional polypropylene pouches and films. This product is also offering a 46% carbon footprint reduction on the hardware they have developed around this.</p>
      <br>
      <p><b>4. Prevented Ocean Plastic</b></p>
      <br>
      <p>Our good friends at Spectra Packaging have committed to manufacture all future PCR PET with Prevented Ocean Plastic as standard. Evidence indicates that 80% of ocean plastic comes from land-based sources in developing coastal communities, so this global initiative targets plastic waste destined for the ocean BEFORE it gets there. “Our partnership with Bantam Materials, who run the POP programme, provides a clear and unified vision that looks beyond reactive answers with proactive solutions to ocean plastic waste. We passionately see this as a genuine vision to protect the environment for future generations.” Sales Director, Jonathan Powell</p>
    </div>

    <div class="valentine-carousel valentine-carousel-column">
      <div id="valentine-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ibb.co/K6rJmh3/CPPC-PACKAGING-INNOVATIONS-IMG-5026.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/K6QSpDg/CPPC-PACKAGING-INNOVATIONS-IMG-5031.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/hdnrL7V/CPPC-PACKAGING-INNOVATIONS-IMG-5035.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/pLMkZ4w/CPPC-PACKAGING-INNOVATIONS-IMG-5037.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/C19tjMW/CPPC-PACKAGING-INNOVATIONS-IMG-5038.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#valentine-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#valentine-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </div>
  <div class="more-news">
    <h6>More News...</h6>
    <div class="more-news-list">
      <div class="more-news-card">
        <a href="<%= ecommerce_path %>">
          <img src="https://i.ibb.co/9G7TJSX/2.png" alt="...">
          <p>E-COMMERCE</p>
        </a>
      </div>
      <div class="more-news-card">
        <a href="<%= kariwala_path %>">
          <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" alt="...">
          <p>CPPC X KARIWALA</p>
        </a>
      </div>
      <div class="more-news-card">
        <a href="<%= wildarticle_path %>">
          <img src="https://i.ibb.co/bKyP0Zr/1.png" alt="...">
          <p>WILD</p>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="mobile-valentine-container mobile-valentine">
  <div class="mobile-valentine-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://i.ibb.co/hdnrL7V/CPPC-PACKAGING-INNOVATIONS-IMG-5035.jpg);">
    <h1>Packaging innovations 2023</h1>
  </div>
  <div class="mobile-valentine-body">
    <div class="mobile-valentine-text">
        <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <p>Just recovering from a whirlwind trip up to The NEC in Birmingham last week, to the annual Packaging Innovations Exhibition, where I hooked up with all the major players in the biz and listened to expert speakers share their thoughts on the future of our industry. A handful of my fab past and present collaborators were up there, including Roam, Neat and Rocco Chocolate, and there was a buzz about the packaging industry that I haven’t seen in a decade. New players, new commitments and bloody brilliant new ideas were in full flow. One really important topic of discussion was that serious investment is needed in the closed-loop recycling infrastructure in the UK in order to meet increased demand for recycled materials. Industry leaders are lobbying HMRC for funds generated from the Plastic Packaging Tax to be funnelled in this direction, as now is the perfect time and opportunity to build a world-beating recycling infrastructure here. That way we as an
      industry can continue to grow this side of the business and provide high value, high-quality recycled materials to continue to reduce dependency on virgin materials. Here are my top faves from the exciting innovations I spied at The NEC. We make sure we are always in touch with new developing solutions and ideas, and so we are already working them into packaging solutions for our clients at CPPC.</p>
        <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
    </div>

    <div class="mobile-valentine-text">
        <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <p><b>1. Mono Material Coffee Pouches</b></p>
      <br>
      <p>As L4 soft plastic recycling streams increase the use of material such as low density polyethylene for mono material coffee pouches, we feel this gives the most all round and robust solution to this huge market for quality coffee...Look out for our collab with Machina Coffee here.</p>
      <a href="https://machina-coffee.com">Visit Machina</a>
      <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
    </div>

    <div class="mobile-valentine-text">
        <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <p><b>2. 100% Recyclable Valve</b></p>
      <br>
      <p>Also a development in mono material, Weener Plastics have created a fully recyclable dispensing closure for the food industry that can go into a standard recycling stream.They have managed to remove the silicon in this product without compromising the functionality. At all.</p>
      <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
    </div>

    <div class="mobile-valentine-carousel">
      <div id="mobile-valentine-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ibb.co/K6rJmh3/CPPC-PACKAGING-INNOVATIONS-IMG-5026.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/K6QSpDg/CPPC-PACKAGING-INNOVATIONS-IMG-5031.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/hdnrL7V/CPPC-PACKAGING-INNOVATIONS-IMG-5035.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/pLMkZ4w/CPPC-PACKAGING-INNOVATIONS-IMG-5037.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/C19tjMW/CPPC-PACKAGING-INNOVATIONS-IMG-5038.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mobile-valentine-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mobile-valentine-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>




    <div class="mobile-valentine-text">
      <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <p><b>3. IMPAC-T</b></p>
      <br>
      <p>A recyclable rPET composite pack that enables UK food producers to switch from traditional polypropylene pouches and films. This product is also offering a 46% carbon footprint reduction on the hardware they have developed around this.</p>
      <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
    </div>

    <div class="mobile-valentine-text">
      <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <p><b>4. Prevented Ocean Plastic</b></p>
      <br>
      <p>Our good friends at Spectra Packaging have committed to manufacture all future PCR PET with Prevented Ocean Plastic as standard. Evidence indicates that 80% of ocean plastic comes from land-based sources in developing coastal communities, so this global initiative targets plastic waste destined for the ocean BEFORE it gets there. “Our partnership with Bantam Materials, who run the POP programme, provides a clear and unified vision that looks beyond reactive answers with proactive solutions to ocean plastic waste. We passionately see this as a genuine vision to protect the environment for future generations.” Sales Director, Jonathan Powell</p>
      <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
    </div>

  </div>

  <div class="mobile-more-news">
    <h6>More News...</h6>
    <div class="mobile-more-news-list">
      <div class="mobile-more-news-card">
        <a href="<%= ecommerce_path %>">
          <img src="https://i.ibb.co/9G7TJSX/2.png" alt="...">
          <p>E-COMMERCE</p>
        </a>
      </div>
      <div class="mobile-more-news-card">
        <a href="<%= kariwala_path %>">
          <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" alt="...">
          <p>CPPC X KARIWALA</p>
        </a>
      </div>
      <div class="mobile-more-news-card">
        <a href="<%= wildarticle_path %>">
          <img src="https://i.ibb.co/bKyP0Zr/1.png" alt="...">
          <p>WILD</p>
        </a>
      </div>
    </div>
  </div>
</div>
