<%= render 'shared/navbar-2' %>

<div class="valentine-container desktop-valentine">
  <div class="valentine-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(https://i.ibb.co/nmfZcbb/5-4.png); background-position: 50% 50%;">
    <h1 style="text-shadow: 0px 0px 5px #00000066;">Roam Skin Tone condoms (a world's first) </h1>
  </div>
  <div class="valentine-body">
    <div class="valentine-text">
      <p><b>What was the aim of this project?</b> To provide our consumers with choice and representation in sexual wellness.</p>
      <br>
      <p><b>What were the potential challenges / difficulties?</b> We built this innovation from community insight having spoken to 1,500 consumers to understand their needs and wants. This helped us build a solid concept. Our main challenge was the short time frame we had to hit the Boots range review timings.</p>
      <br>
      <p><b>What did CPPC do for you?</b> CPPC played a big part in bringing this world's 1st innovation to life. Lex and the team miraculously managed the end to end process in record timing and allowed us to deliver to our most strategic customer in full, on time.</p>
      <br>
      <p><b>How has the product been received in the market?</b> The feedback has been extremely positive, especially from our community. The PR campaign achieved a >140 million transatlantic reach and showed the world the importance of representation and choice in sexual wellness.</p>
      <br>
      <p><b>Would you recommend CPPC to other Start up Brands on their development journey?</b> We regard CPPC as an integral part of our team. The team is adaptable, collaborative and always delivers to brief. I would absolutely recommend CPPC, irrespective of where you are on your journey.</p>
      <br>
      <a href="https://www.exploreroam.com/shop/for-gifting">Explore Roam</a>
    </div>
    <div class="valentine-carousel">



      <div id="valentine-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ibb.co/nzWzB7f/3-4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/KmpnW8f/114-4.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/5nbm45Y/1-3.png" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item">
            <img src="https://i.ibb.co/nmfZcbb/5-4.png" class="d-block w-100" alt="...">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#valentine-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#valentine-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


    </div>
  </div>
  <div class="more-news">
    <h6>More News...</h6>
    <div class="more-news-list">
      <div class="more-news-card">
        <a href="<%= packaginginnovations_path %>">
          <img src="https://i.ibb.co/9GVTwgd/Blog-entry-1.jpg" alt="...">
          <p>PACKAGING INNOVATIONS 2023</p>
        </a>
      </div>
      <div class="more-news-card">
        <a href="<%= kariwala_path %>">
          <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" alt="...">
          <p>CPPC X KARIWALA</p>
        </a>
      </div>
      <div class="more-news-card">
        <a href="<%= christmasiscoming_path %>">
          <img src="https://i.ibb.co/prZ6DN7/Blog-entry-4.jpg" alt="...">
          <p>CHRISTMAS IS COMING</p>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="mobile-valentine-container mobile-valentine">
  <div class="mobile-valentine-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(https://i.ibb.co/nmfZcbb/5-4.png);">
    <h1 style="text-shadow: 0px 0px 5px #00000066;">Roam Skin Tone condoms (a world's first)</h1>
  </div>
  <div class="mobile-valentine-body">
    <div class="mobile-valentine-text">
      <%# <div class="mobile-quotation-horizontal quotation-top"> %>
        <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <%# </div> %>
      <p><b>What was the aim of this project?</b> To provide our consumers with choice and representation in sexual wellness.</p>
      <br>
      <p><b>What were the potential challenges / difficulties?</b> We built this innovation from community insight having spoken to 1,500 consumers to understand their needs and wants. This helped us build a solid concept. Our main challenge was the short time frame we had to hit the Boots range review timings.</p>
      <br>
      <p><b>What did CPPC do for you?</b> CPPC played a big part in bringing this world's 1st innovation to life. Lex and the team miraculously managed the end to end process in record timing and allowed us to deliver to our most strategic customer in full, on time.</p>
      <%# <div class="mobile-quotation-horizontal quotation-bottom"> %>
        <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
      <%# </div> %>
    </div>





    <div class="mobile-valentine-carousel">
      <div id="mobile-valentine-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ibb.co/nzWzB7f/3-4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/KmpnW8f/114-4.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ibb.co/5nbm45Y/1-3.png" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item">
            <img src="https://i.ibb.co/nmfZcbb/5-4.png" class="d-block w-100" alt="...">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mobile-valentine-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mobile-valentine-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="mobile-valentine-text">
      <%# <div class="mobile-quotation-horizontal quotation-top"> %>
        <img src="https://i.ibb.co/N3J6yH0/CPPC-QUOTATION-MARK-LEFT.png", class="about-photo mobile-quote-img mobile-quote-left">
      <%# </div> %>
      <p><b>How has the product been received in the market?</b> The feedback has been extremely positive, especially from our community. The PR campaign achieved a >140 million transatlantic reach and showed the world the importance of representation and choice in sexual wellness.</p>
      <br>
      <p><b>Would you recommend CPPC to other Start up Brands on their development journey?</b> We regard CPPC as an integral part of our team. The team is adaptable, collaborative and always delivers to brief. I would absolutely recommend CPPC, irrespective of where you are on your journey.</p>
      <br>
      <a href="https://www.exploreroam.com/shop/for-gifting">Explore Roam</a>
      <%# <div class="mobile-quotation-horizontal quotation-bottom"> %>
        <img src="https://i.ibb.co/F8K1fM1/CPPC-QUOTATION-MARK-RIGHT.png", class="about-photo mobile-quote-img mobile-quote-right">
      <%# </div> %>
    </div>

  </div>

  <div class="mobile-more-news">
    <h6>More News...</h6>
    <div class="mobile-more-news-list">
      <div class="mobile-more-news-card">
        <a href="<%= packaginginnovations_path %>">
          <img src="https://i.ibb.co/9GVTwgd/Blog-entry-1.jpg" alt="...">
          <p>PACKAGING INNOVATIONS 2023</p>
        </a>
      </div>
      <div class="mobile-more-news-card">
        <a href="<%= kariwala_path %>">
          <img src="https://i.ibb.co/WzHtbbb/Blog-entry-3.jpg" alt="...">
          <p>CPPC X KARIWALA</p>
        </a>
      </div>
      <div class="mobile-more-news-card">
        <a href="<%= christmasiscoming_path %>">
          <img src="https://i.ibb.co/prZ6DN7/Blog-entry-4.jpg" alt="...">
          <p>CHRISTMAS IS COMING</p>
        </a>
      </div>
    </div>
  </div>
</div>
